* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	background-image: url('simple_dashed.png');
	color:white;
	text-align:center;
	font-family: 'Tauri',sans-serif;
}

.prelogin {
    border-radius:15px;
	max-width:650px;
	min-width:650px;
	height:325px;
	padding:10px;
	margin: 0 auto;
	background-color:#FFF;
	color:#1B1B1B;
}

img#loginbutton{
	margin-top:10px;
}

img#loginbutton:hover {
	cursor:pointer;
}

.intro {
	max-width:500px;
	margin: 0 auto;
	text-align:left;
}

#roomname {
	height:28px;
	width:175px;
	border-radius:5px;
	text-align:center;
	color:#BDBDBD;
	border: 2px solid #6B6B6B;
}



#roomname:focus {
	outline:none;
	border: 2px solid #A1E5F4 ;
}

.chatwrapper {
	background-color:white;
	margin: 0 auto;
	border: 1px solid black;
	max-width: 650px;
	min-width:650px;
	border-radius: 15px;
	padding:15px;
	color:black;
	font-size:13px;
	text-align: left;
}

.chat {
	margin: 0 auto;
	border: 1px solid black;
	background-color:#101012;
	height: 500px;
	overflow-y: scroll;
	max-width:400px;
	min-width:400px;
	border-radius:15px;
	float:left;
}

.userlistwrapper {
	border:1px solid black;
	border-radius:15px;
	float:right;
	height:500px;
}

.userlisttop {
	background-color:#A0A0A0;
	padding:10px;
	border-bottom:1px solid black;
	border-radius:15px 15px 0 0;
}

.textentered {
	border:5px solid green;
}

#chatmessage {
	width:390px;
	margin:5px;
	border:1px solid #1D1C20;
	border-radius:5px;
}

.messagetop a {
	text-decoration: none;
	color:#3c3a43;
}
.messagetop a:hover {
	color:#1E1D22;
}

.message {
	background-color:#FFFFFF;
	border: 1px solid #1D1C20;
	margin: 1px 5px 1px 5px;
	padding:5px;
	border-radius: 15px;
	/*  clearfix? */
}

.newmessage {
	background-color:black;
}

.messageside {
	float:left;
	border-radius:15px;
	padding: 5px 0 10px 10px;
}

.messagename a {
	text-decoration: none;
}

.messagetext {
	padding-left:10px;
	padding-top:5px;
	word-wrap:break-word;
	color: #141316;
}

.messageimg img {
	border:1px solid #141316;
}

.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }

.errormessages {
	color:#E72727;
}
.errorwrapper {
	height:5px;
}

img {
	border-radius:10px;
}

input {
	margin: 15px 5px 0 5px;
}

footer {
	margin-top: 25px;
}

footer a{
	text-decoration: none;
	color:#A0A0A0;
}
footer a:hover{
	color:#CFCFCF;
}

footer a:visited{
	color:#A0A0A0;
}

.ui-tooltip {
	font-size:10px;
}

.miniprofile {
	padding:10px;
	background-color:#141316;
	color:#CFCFCF;
	opacity: 0.8;
}